{% extends 'admin/index.html.twig' %}

{% block title %}Concept Rénovations - Modifier une réalisation
{% endblock %}

{% block body %}
	<div class="col-12 col-xl-10 text-center">
		<h1 class="mb-5">Ajouter une réalisation</h1>
		<div class="col-12 col-md-9 color_div mx-auto rounded p-2">
			{{ form_start(form) }}
			<div class="form-group row">
				<label for="inputEmail3" class="col-sm-3 col-form-label mx-auto">Titre réalisation:</label>
				<div class="col-sm-8 mx-auto">
					{{ form_widget(form.title) }}
				</div>
			</div>
			<div class="form-group row">
				<div class="mx-auto">
					<label for="exampleFormControlFile1">Télécharger une image</label>
					<div class="col-12">
						{{ form_widget(form.images)}}
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="description" class="col-sm-3 col-form-label mx-auto">Description:</label>
				<div class="col-sm-8 mx-auto">
					{{ form_widget(form.description) }}
				</div>
			</div>

			

			<button type="submit" class="btn btn-light my-2">Modifier</button>

			{{ form_end(form) }}
		</div>
	<label class="text-white mr-2">Images:</label>
			<div class="form-group row">
				{% for image in work.images %}
					<div class="col">
						<div class="text-center">
							<img src="{{ asset('assets/img/' ~ image.name) }}" class="border border_dark m-2" width="150">
						</div>
						<div class="text-center">
							{{ include('admin/works/_delete_image.html.twig') }}
						</div>
					</div>
				{% endfor %}
			</div>
	</div>
{% endblock %}
