{% extends 'admin/index.html.twig' %}

{% block title %}Concept Rénovations - Liste des réalisations{% endblock %}

{% block body %}
	<div class="col-12 col-md-10 text-center">
		<h1 class="mb-5">Liste des réalisations</h1>

		<table class="table">
			<thead>
				<tr>
					<th class="col-6">Nom réalisations</th>
					<th class="col-6">Actions</th>
				</tr>
			</thead>
			<tbody>


				{% for works in work %}
					<tr>
						<th scope="row">{{ works.title }}</th>
						
						<td class="pt-3 d-md-none ">
							<div class="d-flex justify-content-around">
								<a class="fas fa-search fa-lg colorIconTab" href="{{ path('works_show', {'id' : works.id} ) }}"></a>
								<a class="fas fa-edit fa-lg colorIconTab" href="{{ path('works_edit', {'id' : works.id} ) }}"></a>
								<a class="fas fa-trash-alt fa-lg colorIconTab" href="#"></a>
							</div>
						</td>
						
						<td class="d-none d-md-block">
							<div class="btn-group btn-group-toggle" data-toggle="buttons">
								<div>
									<a class="btn btn-secondary" href="{{ path('works_show', {'id' : works.id} ) }}">Voir</a>
								</div>
								<div>
									<a class="btn btn-secondary" href="{{ path('works_edit', {'id' : works.id} ) }}">Modifier</a>
								</div>
								<div>
									{{ include('admin/works/_delete_form.html.twig') }}
								</div>
							</div>
						</td>
					</tr>
				{% endfor %}


			</tbody>
		</table>

		<button type="button" class="btn btn-light">
			<a href="{{ path('works_new')}}">Ajouter une réalisation</a>
		</button>

	</div>
{% endblock %}
