{% extends 'base.html.twig' %}

{% block title %}Quotes index{% endblock %}

{% block body %}
    <h1>Quotes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>Message</th>
                <th>IsRead</th>
                <th>CreatedAt</th>
                <th>DeletedAt</th>
                <th>Activate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quote in quotes %}
            <tr>
                <td>{{ quote.id }}</td>
                <td>{{ quote.name }}</td>
                <td>{{ quote.email }}</td>
                <td>{{ quote.phoneNumber }}</td>
                <td>{{ quote.message }}</td>
                <td>{{ quote.isRead ? 'Yes' : 'No' }}</td>
                <td>{{ quote.createdAt ? quote.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ quote.deletedAt ? quote.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ quote.activate ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('quotes_show', {'id': quote.id}) }}">show</a>
                    <a href="{{ path('quotes_edit', {'id': quote.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('quotes_new') }}">Create new</a>
{% endblock %}
