<header class="container-fluid">
	<div class="row">
		<div class="col-12 col-md-6 col-xl-4">
			<a href="{{ path('index') }}"><img src="{{ asset('assets/img/logo.jpg') }}" class="img-fluid sizeLogo" alt=""/></a>
		</div>
		<div class="d-none d-xl-block col-2"></div>
		<div class="d-none d-md-block col-md-6 col-xl-5 align-self-center">
			<ul class="d-flex justify-content-between p-0 m-0">
				<li class="liHeader">
					<a href="{{ path('profil') }}" class="liHeader">Profil</a>
				</li>
				<div class="dropdown">
					<a href="{{ path('categories') }}" class="liHeader">Réalisations</a>
					<li class="dropdown-toggle liHeader" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Travaux extérieur</a>
							<a class="dropdown-item" href="#">Travaux intérieur</a>
							<a class="dropdown-item" href="#">Travaux électriques</a>
						</div>
					</li>
				</div>
			</li>
			<li class="liHeader">
				<a href="{{ path('devis') }}" class="liHeader">Devis</a>
			</li>
			<li class="liHeader">
				<a href="{{ path('collaborateurs') }}" class="liHeader">Collaborateurs</a>
			</li>
			<li class="liHeader">
				<a href="{{ path('messages_new') }}" class="liHeader">Contact</a>
			</li>
		</ul>
	</div>
	<div class="d-none d-xl-block col-1"></div>
</div></header>
