<p>Prénom:</p>
<h3>{{ mail.name }}</h3>

<p>Email:</p>
<h3>{{ mail.email }}</h3>

<p>Numéro de téléphone</p>
<h3>{{ mail.phoneNumber }}</h3>

<p>Catégorie</p>
<h3>{{ mail.categories.name }}</h3>

<p>Prestations</p>
<h3>{{ mail.services.name }}</h3>

<p>Message :</p>
<h3>{{ mail.message }}</h3>